<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TU</key>
	<dict>
		<key>section 4</key>
		<dict>
			<key>title</key>
			<string>İş yerinde</string>
			<key>1</key>
			<string>Günaydın!</string>
			<key>2</key>
			<string>İyi günler!</string>
			<key>3</key>
			<string>Nasılsınız?</string>
			<key>4</key>
			<string>İyiyim, teşekkür ederim!</string>
			<key>5</key>
			<string>Anlamıyorum.</string>
			<key>6</key>
			<string>Lütfen, tekrar eder misiniz?</string>
			<key>7</key>
			<string>İşi biterebilir misiniz?</string>
			<key>8</key>
			<string>Problem yok!</string>
			<key>9</key>
			<string>Yardıma ihtiyacım var.</string>
			<key>10</key>
			<string>Yönetici ile konuşmak istiyorum.</string>
			<key>11</key>
			<string>Bilginiz için teşekkür ederim!</string>
			<key>12</key>
			<string>Bu hafta mesaie kalabilir miyim?</string>
			<key>13</key>
			<string>Görevi zamanında yerine getireceğim.</string>
			<key>14</key>
			<string>Bu proje üzerine kim çalışacak?</string>
			<key>15</key>
			<string>Son teslim tarihi ne zaman?</string>
			<key>16</key>
			<string>İşten sonra iş yerinizi temizlemeniz gerekir.</string>
			<key>17</key>
			<string>Maalesef, işi bügün bitiremeyeceğim.</string>
			<key>18</key>
			<string>Araç süremiyorum, maalesef!</string>
			<key>19</key>
			<string>Girmeyiniz!</string>
			<key>20</key>
			<string>Dikkat!</string>
		</dict>
		<key>section 3</key>
		<dict>
			<key>title</key>
			<string>İş görüşmesi</string>
			<key>1</key>
			<string>Güçlü taraflarınız nedir?</string>
			<key>2</key>
			<string>Güvenilirim.</string>
			<key>3</key>
			<string>Azimliyim.</string>
			<key>4</key>
			<string>Ekip içinde iyi çalışırım.</string>
			<key>5</key>
			<string>Zayıf tarafların nedir?</string>
			<key>6</key>
			<string>(dil) iyi bilmıyorum.</string>
			<key>7</key>
			<string>Neden kuruluşumuzda çalışmak istersin?</string>
			<key>8</key>
			<string>Daha fazla tecrübe edinmek istiyorum.</string>
			<key>9</key>
			<string>Kendi iş alanımda çalışmak istiyorum.</string>
			<key>10</key>
			<string>Kuruluşunuzun itibari için.</string>
			<key>11</key>
			<string>Ülkeyi terk etmem gerektiğinden dolayı işime son vermeliydim. </string>
			<key>12</key>
			<string>Maaşım en azindan …. tutarında olmasını istiyorum.</string>
			<key>13</key>
			<string>Hangi becerileri ve deneyimi arıyorsunuz?</string>
			<key>14</key>
			<string>İş haftası kaç saatten oluşur?</string>
			<key>15</key>
			<string>Başlangıç tarihi ne zaman?</string>
			<key>16</key>
			<string>Ne kadar yıllık izin hakkım var?</string>
			<key>17</key>
			<string>Bana nasıl bir iş sözleşmesi sunabilirsiniz?</string>
			<key>18</key>
			<string>Size süresiz kontrat verebiliriz. </string>
			<key>19</key>
			<string>Sözleşmenin süresi bir yıldır.</string>
			<key>20</key>
			<string>Deneme süresi üç aydır.</string>
		</dict>
		<key>section 2</key>
		<dict>
			<key>title</key>
			<string>Nasıl ve nerede işe başvurabilirsin</string>
			<key>1</key>
			<string>İşe başvurmak istiyorum.</string>
			<key>2</key>
			<string>Boş iş yeriniz var mı?</string>
			<key>3</key>
			<string>Başvurma formu alabilir miyim?</string>
			<key>4</key>
			<string>Nasıl başvurabilirim?</string>
			<key>5</key>
			<string>Bilgisayar bölümünde okudum.</string>
			<key>6</key>
			<string>Dörst sene boyunca inşaat sektöründe çalıştım. </string>
			<key>7</key>
			<string>Sporda niteliğim/tanınmışlığım var. </string>
			<key>8</key>
			<string>... alanından deneyime sahibim.</string>
			<key>9</key>
			<string>İnsanlarla iletişimim iyidir.</string>
			<key>10</key>
			<string>Gözetmen arıyoruz. </string>
			<key>11</key>
			<string>Diğer işçilerle beraber çalışabilmelisiniz.</string>
			<key>12</key>
			<string>Ehliyet gerekli. </string>
			<key>13</key>
			<string>Sorunları çözebilme yeteneğine sahip olmalısınız.</string>
			<key>14</key>
			<string>Sorumluluğunuz ... olacaktır genel işler yapmak</string>
			<key>15</key>
			<string>....tutarında net maaş teklif ediyoruz.</string>
			<key>16</key>
			<string>Size bir aylık deneme süresi teklif edebiliriz.</string>
			<key>17</key>
			<string>Sağlık sigortanız olması gerekiyor.</string>
			<key>18</key>
			<string>Banka hesabınız olması gerekiyor.</string>
			<key>19</key>
			<string>Faturaya KDV dahildir.</string>
			<key>20</key>
			<string>Vergi ödemeniz gerekecek.</string>
		</dict>
		<key>section 1</key>
		<dict>
			<key>title</key>
			<string>Iş arıyorum</string>
			<key>1</key>
			<string>Çalışmak istiyorum.</string>
			<key>2</key>
			<string>İş ve işçi bulma kurumunu nerededir?</string>
			<key>3</key>
			<string>İş nerede bulabilirim?</string>
			<key>4</key>
			<string>Çalışma izni nasıl alabilirim?</string>
			<key>5</key>
			<string>İşe başvurmak için bana neler gerekiyor?</string>
			<key>6</key>
			<string>Önceden hizmet sektöründe çalışıyordum.</string>
			<key>7</key>
			<string>Tarım sektöründe bir iş arıyorum</string>
			<key>8</key>
			<string>İnşaatçıyım.</string>
			<key>9</key>
			<string>Elektrikçi olmak isterim.</string>
			<key>10</key>
			<string>şoförüm olmak istiyorum</string>
			<key>11</key>
			<string>Beş işçinin kısım şefiydim.</string>
			<key>12</key>
			<string>İş ararken yardıma ihtiyacım var.</string>
			<key>13</key>
			<string>Hangi internet sayfalarına bakabilirim?</string>
			<key>14</key>
			<string>orta okul veya lise diplomam var.</string>
			<key>15</key>
			<string>İnşaatlık sektoru diplomam var.</string>
			<key>16</key>
			<string>Ayrıca daha fazla eğitime ihtiyacım var.</string>
			<key>17</key>
			<string>Dil kursuna katılmak istiyorum.</string>
			<key>18</key>
			<string>Dilimi geliştirmem gerekiyor.</string>
			<key>19</key>
			<string>Üniversite Bachelor diplomam var.</string>
			<key>20</key>
			<string>Daha önceden yöneticiydim.</string>
		</dict>
	</dict>
	<key>PO</key>
	<dict>
		<key>section 4</key>
		<dict>
			<key>title</key>
			<string>w miejscu pracy</string>
			<key>1</key>
			<string>Dzien dobry do 12.00 w dzien</string>
			<key>2</key>
			<string>Milego dnia!</string>
			<key>3</key>
			<string>Jak sie masz? Co u Ciebie slychac?</string>
			<key>4</key>
			<string>Mam sie dobrze. Dziekuje!</string>
			<key>5</key>
			<string>Nie rozumiem.</string>
			<key>6</key>
			<string>Prosze powtorz.</string>
			<key>7</key>
			<string>Czy mozeszz juz skonczyc prace?</string>
			<key>8</key>
			<string>Nie ma problemu!</string>
			<key>9</key>
			<string>Potrzebuje pomocy.</string>
			<key>10</key>
			<string>Chcialbym rozmawiac z managerem/kierownikiem.</string>
			<key>11</key>
			<string>Dziekuje za informacje!</string>
			<key>12</key>
			<string>Czy moge przepracowac dodatkowe zmiane?</string>
			<key>13</key>
			<string>Wykonam prace o czasie.</string>
			<key>14</key>
			<string>Kto bedzie pracowl przy tym projekcie.</string>
			<key>15</key>
			<string>Kiedy jest termin koncowy ?</string>
			<key>16</key>
			<string>Musisz posprzatac swoje miejsce pracy po pracy.</string>
			<key>17</key>
			<string>Nie moge zakonczyc dzisiaj tej pracy, przepraszam.</string>
			<key>18</key>
			<string>Nie potrafie prowadzic auta, przepraszam.</string>
			<key>19</key>
			<string>Trzymaj sie z daleka!</string>
			<key>20</key>
			<string>Badz ostrozny!</string>
		</dict>
		<key>section 3</key>
		<dict>
			<key>title</key>
			<string>Rozmowa kwalifikacyjna</string>
			<key>1</key>
			<string>Jakie sa Twoje mocne strony?</string>
			<key>2</key>
			<string>Jestem solidny</string>
			<key>3</key>
			<string>Mam chec nauki</string>
			<key>4</key>
			<string>Pracuje mi sie dobrze w tym zespole</string>
			<key>5</key>
			<string>Jakie sa Twoje slabe strony?</string>
			<key>6</key>
			<string>Nie mowie w tym jezyku dobrze</string>
			<key>7</key>
			<string>Dlaczego jestes zainteresowany praca w naszej firmie?</string>
			<key>8</key>
			<string>Chcialbym zdobyc wiecej doswiadczenia</string>
			<key>9</key>
			<string>Chce wykonywac moj zawod</string>
			<key>10</key>
			<string>ze wzgledu na dobra reputacje Twojej firmy</string>
			<key>11</key>
			<string>Opuscilem ostatnia prace poniewaz musialem wyjechac z  kraju</string>
			<key>12</key>
			<string>Chcialbym wynagrodzenie nie nizsze niz…</string>
			<key>13</key>
			<string>Jakch umiejetnosci I doswiadczenia szukasz?</string>
			<key>14</key>
			<string>Ile godzin pracy jest w tygodniu?</string>
			<key>15</key>
			<string>Jak jest data rozpoczecia?</string>
			<key>16</key>
			<string>Ile mi przysluguje urlopu w roku?</string>
			<key>17</key>
			<string>Jaki rodzaj pracy moze mi zaoferowac Twoja firma?</string>
			<key>18</key>
			<string>Mozemy zaoferowac Ci umowe na stale</string>
			<key>19</key>
			<string>Okre umowy obowiazauje na rok. </string>
			<key>20</key>
			<string>Okres probny jest trzymiesieczny.</string>
		</dict>
		<key>section 2</key>
		<dict>
			<key>title</key>
			<string>Jak I gdzie aplikowac o prace</string>
			<key>1</key>
			<string>Chce aplikowac o prace</string>
			<key>2</key>
			<string>Czy sa jakies dostepne prace?</string>
			<key>3</key>
			<string>Czy moge otrzymac formularz aplikacyjny?</string>
			<key>4</key>
			<string>Jak moge dostarczyc aplikacje?</string>
			<key>5</key>
			<string>Mam wyksztalcenie / doswiadczenie w informatyce</string>
			<key>6</key>
			<string>Przez cztery lata  pracowalem w branzy budowlanej</string>
			<key>7</key>
			<string>Mam kwalifikacje zawodowe w sporcie</string>
			<key>8</key>
			<string>Mam nastepujace doswiadczenie jako…</string>
			<key>9</key>
			<string>Szukamy kogos z dobra komunikacja</string>
			<key>10</key>
			<string>Szukamy przelozonego (kierownika)</string>
			<key>11</key>
			<string>Musisz umiec pracowac w grupie</string>
			<key>12</key>
			<string>Wymagane jest prawo jazdy.</string>
			<key>13</key>
			<string>Musisz byc dobry w rozwiazywaniu problemow</string>
			<key>14</key>
			<string>Twoimi obowiazkami beda wykonanie ogolnej pracy</string>
			<key>15</key>
			<string>Oferujemy wynagrodzenie netto..</string>
			<key>16</key>
			<string>Mozemy Ci zaoferowac okres probny na okres jednego miesiaca.</string>
			<key>17</key>
			<string>Musisz posiadac ubezpieczenie zdrowotne.</string>
			<key>18</key>
			<string>Musisz posiadac konto bankowe.</string>
			<key>19</key>
			<string>Faktura zawiera podatek VAT.</string>
			<key>20</key>
			<string>Musisz placic podatki.</string>
		</dict>
		<key>section 1</key>
		<dict>
			<key>title</key>
			<string>Szukam pracy</string>
			<key>1</key>
			<string>Chce prace.</string>
			<key>2</key>
			<string>Gdzie znajde biuro rekrutujace do pracy?</string>
			<key>3</key>
			<string>Gdzie moge szukac pracy?</string>
			<key>4</key>
			<string>Jak moge otrzymac pozwolenie na prace?</string>
			<key>5</key>
			<string>Co musze zrobic, aby aplikowac o prace?</string>
			<key>6</key>
			<string>Pracowalem w sektorze uslugowym</string>
			<key>7</key>
			<string>Szukam pracy w rolnictwie.</string>
			<key>8</key>
			<string>Jestem budowlancem</string>
			<key>9</key>
			<string>Chcialbym byc elektrykiem.</string>
			<key>10</key>
			<string>Chcial(a)bym zostac kierowca</string>
			<key>11</key>
			<string>Bylem odpowiedzialny za pieciu pracownikow.</string>
			<key>12</key>
			<string>Potrzebuje pomocy w znalezieniu pracy.</string>
			<key>13</key>
			<string>Jaka strone internetowa moge odwiedzic?</string>
			<key>14</key>
			<string>Posiadam  dyplom ukonczenia szkoly sredniej.</string>
			<key>15</key>
			<string>Posiadam dyplom ukonczenia szkoly technicznej.</string>
			<key>16</key>
			<string>Potrzebuje dodatkowego szkolenia.</string>
			<key>17</key>
			<string>Chce uczeszczac na kurs jezykowy.</string>
			<key>18</key>
			<string>Musze  pracowac nad mowa w jezyku angielskim</string>
			<key>19</key>
			<string>Mam tytul licencjata</string>
			<key>20</key>
			<string>Bylem managerem.</string>
		</dict>
	</dict>
	<key>BG</key>
	<dict>
		<key>section 4</key>
		<dict>
			<key>title</key>
			<string>НА РАБОТА</string>
			<key>1</key>
			<string>Добро утро!</string>
			<key>2</key>
			<string>Хубав ден!</string>
			<key>3</key>
			<string>Как си?</string>
			<key>4</key>
			<string>Добре съм, благодаря!</string>
			<key>5</key>
			<string>Не разбирам.</string>
			<key>6</key>
			<string>Моля, повтори.</string>
			<key>7</key>
			<string>Можеш ли да свършиш работата?</string>
			<key>8</key>
			<string>Няма проблем!</string>
			<key>9</key>
			<string>Имам нужда от помощ.</string>
			<key>10</key>
			<string>Бих искал(а) да говоря с управителя.</string>
			<key>11</key>
			<string>Благодаря за информацията!</string>
			<key>12</key>
			<string>Мога ли да работя извънредна смяна тази седмица?</string>
			<key>13</key>
			<string>Ще изпълня задачите навреме.</string>
			<key>14</key>
			<string>Кой ще работи по този проект?</string>
			<key>15</key>
			<string>Кога е крайният срок?</string>
			<key>16</key>
			<string>Трябва да си почистваш работното място след работа.</string>
			<key>17</key>
			<string>Не мога да свърша работата днес, съжалявам.</string>
			<key>18</key>
			<string>Не мога да шофирам, съжалявам.</string>
			<key>19</key>
			<string>Не влизай!</string>
			<key>20</key>
			<string>Внимание!</string>
		</dict>
		<key>section 3</key>
		<dict>
			<key>title</key>
			<string>ИНТЕРВЮ</string>
			<key>1</key>
			<string>Кои са силните ти страни?</string>
			<key>2</key>
			<string>Аз съм отговорен/отговорна.</string>
			<key>3</key>
			<string>Имам желание да уча.</string>
			<key>4</key>
			<string>Работя добре в екип.</string>
			<key>5</key>
			<string>Кои са слабите ти страни?</string>
			<key>6</key>
			<string>Не говоря добре езика.</string>
			<key>7</key>
			<string>Защо искаш да работиш за нашата компания?</string>
			<key>8</key>
			<string>Искам да придобия повече опит.</string>
			<key>9</key>
			<string>Искам да практикувам професията си.</string>
			<key>10</key>
			<string>Заради добрата репутация на вашата компания.</string>
			<key>11</key>
			<string>Напуснах последната си работа, защото трябваше да напусна страната.</string>
			<key>12</key>
			<string>Бих искал(а) заплата не по-ниска от…</string>
			<key>13</key>
			<string>Какви умения и опит търсите?</string>
			<key>14</key>
			<string>Колко работни часа е работната седмица?</string>
			<key>15</key>
			<string>Кога е началната дата?</string>
			<key>16</key>
			<string>Колко дена годишен отпуск имам?</string>
			<key>17</key>
			<string>Какъв трудов договор може да ми предложи компанията?</string>
			<key>18</key>
			<string>Можем да ти предложим постоянен договор.</string>
			<key>19</key>
			<string>Продължителността на договора е една година.</string>
			<key>20</key>
			<string>Пробният период е три месеца.</string>
		</dict>
		<key>section 2</key>
		<dict>
			<key>title</key>
			<string>КАНДИДАТСТВАНЕ ЗА РАБОТА</string>
			<key>1</key>
			<string>Искам да кандидатствам за работа.</string>
			<key>2</key>
			<string>Имате ли свободни работни места?</string>
			<key>3</key>
			<string>Може ли да получа формуляр за кандидатстване?</string>
			<key>4</key>
			<string>Как мога да подам заявление?</string>
			<key>5</key>
			<string>Имам образование по информационни технологии.</string>
			<key>6</key>
			<string>Работил(а) съм в строителството четири години.</string>
			<key>7</key>
			<string>Имам спортна квалификация.</string>
			<key>8</key>
			<string>Имам професионален опит като бавачка.</string>
			<key>9</key>
			<string>Притежавам добри комуникативни умения.</string>
			<key>10</key>
			<string>Търсим ръководител.</string>
			<key>11</key>
			<string>Трябва да умеете да работите като част от екип.</string>
			<key>12</key>
			<string>Трябва да имате шофьорска книжка.</string>
			<key>13</key>
			<string>Трябва да сте добри в разрешаването на проблеми.</string>
			<key>14</key>
			<string>Отговорностите ви ще бъдат да извършвате обща работа.</string>
			<key>15</key>
			<string>Предлагаме нетна заплата в размер на…</string>
			<key>16</key>
			<string>Можем да ви предложим пробен период от един месец.</string>
			<key>17</key>
			<string>Трябва да имате здравна застраховка.</string>
			<key>18</key>
			<string>Трябва да имате банкова сметка.</string>
			<key>19</key>
			<string>Фактурата включва ДДС.</string>
			<key>20</key>
			<string>Трябва да плащате данъци.</string>
		</dict>
		<key>section 1</key>
		<dict>
			<key>title</key>
			<string>ПОДГОТОВКА ЗА РАБОТА</string>
			<key>1</key>
			<string>Искам да работя.</string>
			<key>2</key>
			<string>Къде мога да намеря бюрото по труда?</string>
			<key>3</key>
			<string>Къде мога да търся работа?</string>
			<key>4</key>
			<string>Как мога да получа разрешение за работа?</string>
			<key>5</key>
			<string>Какво ми трябва, за да кандидатствам за работа?</string>
			<key>6</key>
			<string>Работил(а) съм в сферата на услугите.</string>
			<key>7</key>
			<string>Търся работа в сферата на селското стопанство.</string>
			<key>8</key>
			<string>Аз съм строителен работник.</string>
			<key>9</key>
			<string>Бих искал(а) да стана електротехник.</string>
			<key>10</key>
			<string>Бих искал(а) да стана шофьор.</string>
			<key>11</key>
			<string>Отговарях за петима работника.</string>
			<key>12</key>
			<string>Нуждая се от помощ за търсене на работа.</string>
			<key>13</key>
			<string>Кои Интернет страници мога да посетя?</string>
			<key>14</key>
			<string>Имам диплома за средно образование.</string>
			<key>15</key>
			<string>Имам диплома за инженер.</string>
			<key>16</key>
			<string>Имам нужда от допълнително обучение.</string>
			<key>17</key>
			<string>Искам да посещавам езиков курс.</string>
			<key>18</key>
			<string>Трябва да си подобря уменията за говорене.</string>
			<key>19</key>
			<string>Имам бакалавърска степен.</string>
			<key>20</key>
			<string>Бил съм управител.</string>
		</dict>
	</dict>
	<key>EN</key>
	<dict>
		<key>section 2</key>
		<dict>
			<key>title</key>
			<string>APPLYING FOR A JOB</string>
			<key>1</key>
			<string>I want to apply for a job.</string>
			<key>2</key>
			<string>Do you have any job vacancies?</string>
			<key>3</key>
			<string>Can I have an application form?</string>
			<key>4</key>
			<string>How can I submit an application?</string>
			<key>5</key>
			<string>I have an education in IT.</string>
			<key>6</key>
			<string>I have worked in the construction sector for four years.</string>
			<key>7</key>
			<string>I have a qualification in sports.</string>
			<key>8</key>
			<string>I have work experience as nanny.</string>
			<key>9</key>
			<string>I have good communication skills</string>
			<key>10</key>
			<string>We are looking for a supervisor</string>
			<key>11</key>
			<string>You have to be able to work as a part of a team</string>
			<key>12</key>
			<string>You need to have (a) driving license</string>
			<key>13</key>
			<string>You need to be good at problem solving</string>
			<key>14</key>
			<string>Your responsibilities will be …to perform general work</string>
			<key>15</key>
			<string>We offer a net salary of…</string>
			<key>16</key>
			<string>We can offer you a probation period of one month.</string>
			<key>17</key>
			<string>You must have a health insurance.</string>
			<key>18</key>
			<string>You need to have a bank account.</string>
			<key>19</key>
			<string>The invoice includes VAT.</string>
			<key>20</key>
			<string>You have to pay taxes.</string>
		</dict>
		<key>section 4</key>
		<dict>
			<key>title</key>
			<string>ON THE JOB</string>
			<key>1</key>
			<string>Good morning!</string>
			<key>2</key>
			<string>Have a nice day!</string>
			<key>3</key>
			<string>How are you?</string>
			<key>4</key>
			<string>I’m fine, thank you!</string>
			<key>5</key>
			<string>I don’t understand.</string>
			<key>6</key>
			<string>Please repeat.</string>
			<key>7</key>
			<string>Can you finish the work?</string>
			<key>8</key>
			<string>No problem!</string>
			<key>9</key>
			<string>I need help.</string>
			<key>10</key>
			<string>I would like to speak to the manager.</string>
			<key>11</key>
			<string>Thank you for the information!</string>
			<key>12</key>
			<string>Can I work an extra shift this week?</string>
			<key>13</key>
			<string>I will perform the tasks on time.</string>
			<key>14</key>
			<string>Who is going to work on this project?</string>
			<key>15</key>
			<string>When is the deadline?</string>
			<key>16</key>
			<string>You have to clean your workplace after work.</string>
			<key>17</key>
			<string>I can’t finish the work today, I’m sorry.</string>
			<key>18</key>
			<string>I can’t drive, I’m sorry.</string>
			<key>19</key>
			<string>Keep out!</string>
			<key>20</key>
			<string>Be careful!</string>
		</dict>
		<key>section 3</key>
		<dict>
			<key>title</key>
			<string>GETTING A JOB</string>
			<key>1</key>
			<string>What are your strengths?</string>
			<key>2</key>
			<string>I am reliable</string>
			<key>3</key>
			<string>I am willing to learn</string>
			<key>4</key>
			<string>I work well in a team</string>
			<key>5</key>
			<string>What are your weaknesses?</string>
			<key>6</key>
			<string>I don’t speak the language well</string>
			<key>7</key>
			<string>Why are you interested in working for our company?</string>
			<key>8</key>
			<string>I want to gain more experience</string>
			<key>9</key>
			<string>I want to practice my profession</string>
			<key>10</key>
			<string>Because of the good reputation of your company</string>
			<key>11</key>
			<string>I resigned from my last job because I had to leave the country</string>
			<key>12</key>
			<string>I would like a salary not lower than…</string>
			<key>13</key>
			<string>What skills and experience are you looking for?</string>
			<key>14</key>
			<string>How many working hours is the working week?</string>
			<key>15</key>
			<string>When is the start date?</string>
			<key>16</key>
			<string>How many days annual leave do I have?</string>
			<key>17</key>
			<string>What kind of work contract can your company offer me?</string>
			<key>18</key>
			<string>We can offer you a permanent contract</string>
			<key>19</key>
			<string>The agreement duration is one year. </string>
			<key>20</key>
			<string>The probation period is three months.</string>
		</dict>
		<key>section 1</key>
		<dict>
			<key>title</key>
			<string>GETTING READY FOR A JOB</string>
			<key>20</key>
			<string>I used to be a manager.</string>
			<key>19</key>
			<string>I have a bachelor degree.</string>
			<key>18</key>
			<string>I need to improve my speaking skills.</string>
			<key>17</key>
			<string>I want to attend a language course.</string>
			<key>16</key>
			<string>I need additional training.</string>
			<key>15</key>
			<string>I have a diploma in engineering.</string>
			<key>14</key>
			<string>I have a secondary school education diploma.</string>
			<key>13</key>
			<string>What Internet sites can I visit?</string>
			<key>12</key>
			<string>I need help with looking for a job. </string>
			<key>11</key>
			<string>I was in charge of five workers.</string>
			<key>10</key>
			<string>I would like to become a driver.</string>
			<key>9</key>
			<string>I would like to become an electrician.</string>
			<key>8</key>
			<string>I am construction worker.</string>
			<key>7</key>
			<string>I am looking for a job in agriculture.</string>
			<key>6</key>
			<string>I used to work in service sector.</string>
			<key>5</key>
			<string>What do I need to apply for a job?</string>
			<key>4</key>
			<string>How can I get a work permit?</string>
			<key>3</key>
			<string>Where can I look for a job?</string>
			<key>2</key>
			<string>Where do I find the employment office?</string>
			<key>1</key>
			<string>I want to work.</string>
		</dict>
	</dict>
</dict>
</plist>
